*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#girl{
    position: absolute;
    height: 400px;
    width: 550px;
    top: 730px;
    left: 130px;
    box-shadow: 6px 6px 9px 0.6px white;;
}
#parent{
    height: 80px;
    width: 1520px;
    border: 1px solid rgb(131, 115, 181);
    background-color: rgb(131, 115, 181);
    position: absolute;
    /* text-align: center; */
    color: white;
    text-decoration: none;
    position: fixed;
    /* display: flex;
    list-style: none;
    justify-content: space-evenly; */
    font-size: 19px;
}
a{
    text-decoration: none;
    color: white;
}
#nav{
    position: absolute;
    border: 1px solid rgb(131, 115, 181);
    height: 400px;
    width: 1520px;
    background-color: rgb(131, 115, 181);
}
#home{
    position: absolute;
    left: 450px;
    top: 45px;
    color: black;
    font-size: 19px;
    text-decoration: none;
}
#abo{
    position: absolute;
    left: 620px;
    top: 45px;
    color: black;
    font-size: 19px;
    text-decoration: none;
}
#res{
    position: absolute;
    left: 810px;
    top: 45px;
    color: black;
    font-size: 19px;
    text-decoration: none;
}
#cont{
    position: absolute;
    left: 980px;
    top: 45px;
    color: black;
    font-size: 19px;
    text-decoration: none;
} 
#name{
    position: absolute;
    top: 190px;
    left: 650px;
    color: white;
    font-size: 40px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-shadow: 6px 5px 8px black;
}
#mee{
    text-shadow: 6px 5px 8px black ;
    position: absolute;
    top: 230px;
    left: 640px;
    color: whitesmoke;
    font-size: 50px;
    /* font-weight: bold; */
}
#hr1{
    border: 1px solid rgb(219, 219, 219);
    position: absolute;
    width: 1500px;
    top: 530px;
}
#hr2{
    border: 1px solid rgb(219, 219, 219);
    position: absolute;
    width: 1200px;
    top: 1200px;
}
#hr3{
    border: 1px solid rgb(219, 219, 219);
    position: absolute;
    width: 1500px;
    top: 2600px;
}

#about{
    color: black;
    position: absolute;
    top: 890px;
    left: 760px;
    font-size: 25px;
    font-weight: bold;
    /* color: darkblue; */
}
#about1{
    color: black;
    position: absolute;
    top: 800px;
    left: 760px;
    font-size: 25px;
    font-weight: bold;
    /* text-shadow: 2px 2px 8px darkblue; */
}
#full{
    position: absolute;
    top: 330px;
    left: 420px;
    font-size: 65px;
    color: black;
    text-shadow: 5px 6px 10px darkblue;
}
#dev{
    text-shadow: 2px 2px 8px black;
    position: absolute;
    top: 400px;
    left: 550px;
    color: darkblue;
    font-size: 70px;
}
#resume{
    position: absolute;
    top: 1300px;
    left: 730px;
    font-size: 25px;
    font-weight: bold;
}
#box1{
    border: 1px solid black;
    background-color: white;
    height: 200px;
    width: 500px;
    position: absolute;
    left: 180px;
    top: 1400px;
    box-shadow: 7px 7px darkblue;
    border-radius: 10px;
}

#edu{
    font-weight: bold;
    position: absolute;
    font-size: 22px;
    left: 10px;
    top: 10px;
}
#edu1{
    position: absolute;
    font-size: 17px;
    left: 10px;
    top: 60px;
}
#edu2{
    position: absolute;
    font-size: 17px;
    left: 10px;
    top: 105px;
}
#edu3{
    position: absolute;
    font-size: 17px;
    left: 10px;
    top: 150px;
}
#box2{
    border: 1px solid black;
    background-color: white;
    height: 200px;
    width: 500px;
    position: absolute;
    left: 850px;
    top: 1400px;
    border-radius: 10px;
    box-shadow: -7px 7px #0F172A ;
}
#ski{
    position: absolute;
    font-size: 22px;
    font-weight: bold;
    left: 10px;
    top: 10px;
}
#ski1{
    position: absolute;
    font-size: 17px;
    left: 10px;
    top: 60px;
}
#ski2{
    position: absolute;
    font-size: 17px;
    left: 10px;
    top: 105px;
}
#ski3{
    position: absolute;
    font-size: 17px;
    left: 10px;
    top: 150px;
}
#box3{
    border: 1px solid black;
    background-color: white;
    height: 200px;
    width: 500px;
    position: absolute;
    left: 180px;
    top: 1700px;
    border-radius: 10px;
    box-shadow: 7px 7px #0F172A;
}
#inte{
    position: absolute;
    font-size: 22px;
    left: 10px;
    top: 10px;
    font-weight: bold;
}
#inte1{
    position: absolute;
    font-size: 17px;
    left: 10px;
    top: 45px;
}
#inte2{
    position: absolute;
    font-size: 17px;
    left: 10px;
    top: 95px;
}
#inte3{
    position: absolute;
    font-size: 17px;
    left: 10px;
    top: 145px;
}
#box4{
    border: 1px solid black;
    background-color: white;
    height: 200px;
    width: 500px;
    position: absolute;
    left: 850px;
    top: 1700px;
    border-radius: 10px;
    box-shadow: -7px 7px darkblue;
}
#pro{
    font-weight: bold;
    position: absolute;
    font-size: 22px;
    left: 10px;
    top: 10px;
}
#pro1{
    position: absolute;
    font-size: 17px;
    left: 10px;
    top: 60px;
}
#pro2{
    position: absolute;
    font-size: 17px;
    left: 10px;
    top: 105px;
}
#pro3{
    position: absolute;
    font-size: 17px;
    left: 10px;
    top: 150px;
}

#contact{
    position: absolute;
    top: 2030px;
    left: 300px;
    font-size: 25px;
    font-weight: bold;
}
#pho{
    position: absolute;
    top: 2130px;
    left: 250px;
    font-size: 20px;
    font-weight: 600;
}
#email{
    position: absolute;
    top: 2190px;
    left: 250px;
    font-size: 20px;
    font-weight: 600;
}
#loc{
    position: absolute;
    top: 2250px;
    left: 250px;
    font-size: 20px;
    font-weight: 600;
}